<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">

	<update id="updatePw" parameterType="User">
		UPDATE user
		SET
			user_pw=#{user_pw}
		WHERE
			user_idx=#{user_idx}
		AND
			del_ny='n'
	</update>

	<update id="deleteUser" parameterType="User">
		UPDATE user
		SET
			del_ny=#{del_ny}
		WHERE
			user_idx=#{user_idx}
	</update>
	
	<update id="updateUser" parameterType="User">
		UPDATE user
		SET
			user_nick=#{user_nick},
			user_birth=#{user_birth},
			modified_date = SYSDATE()
		WHERE
			user_idx=#{user_idx}
		AND
			del_ny='n'
	</update>
	
	<select id="findByIdx" parameterType="Integer" resultType="User">
		SELECT * FROM user
		WHERE user_idx=#{user_idx} AND del_ny='n'
	</select>
	
	<select id="login" parameterType="User" resultType="User">
		SELECT * FROM user
		WHERE user_email=#{user_email} AND user_pw=MD5(#{user_pw}) AND del_ny='n'
	</select>
	
	<select id="findByEmail" parameterType="String" resultType="User">
		SELECT * FROM user
		WHERE user_email=#{user_email}
	</select>

	<insert id="join" parameterType="User">
		insert into `user`
		(
			login_provider,
			user_email,
			user_pw,
			user_nick,
			user_birth,
			created_date,
			modified_date
		)
		values
		(
			#{login_provider},
			#{user_email},
			MD5(#{user_pw}),
			#{user_nick},
			#{user_birth},
			SYSDATE(),
			SYSDATE()
		)
	</insert>

</mapper>